.accordianHeight{
    min-height: 30vh;
    max-height: 50vh;
    overflow: auto;
}
.accordian-Message{
    display: flex
}
.accordianWidth{
    width: 23vw;
    margin-top: auto;
}
.messageBox{
    width: 300px;

}