.card {
    height: 300px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.img{
    width: fit-content;
    height: auto;
}

.actions {
  margin-top : 10px
}

.iconStyle {
  height: 1000px;
}

.like {
  margin-right: 10px;
}
.comment {
border-radius: 75px / 100%;
}
.liked {
  margin-right: 10px;
  font-size: 18px;
}
.heart {
  font-size: 20px;
}

.photoDetails{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;

}

.comment{
    padding-bottom: 2px;
}

.captions {
    font-size: 10px;
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}
.captionDiv{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

