.card {
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  width: fit-content;
  height: auto;
}

.actions {
  margin-top: 10px
}

.iconStyle {
  height: 1000px;
}

.like {
  margin-right: 10px;
  cursor: pointer;
}

.comment {
  border-radius: 75px / 100%;
}

.liked {
  margin-right: 10px;
  font-size: 18px;
}

.heart {
  font-size: 20px;
}

.photoDetails {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.comment {
  padding-bottom: 2px;
}

.comments {
  font-size: 10px;
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.viewAllcomment{
  font-size: 10px;
 width: 295px;
 margin-top: 5px;
}
.commentDiv {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  width: 250px;
}

.caption {
  font-size: 10px;
}

.viewComment {
  text-decoration: underline;
  font-size: 10px;
  margin-top: 5px;
}

.viewAllCommentDiv {
  display: flex;
  flex-direction: column;
}
.captionDiv{
  width: 295px;
}
.commentDiv{
  display: flex;
}