.card {
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  width: 400px;
  height: 400px;
}

.actions {
  margin-top: 10px
}

.iconStyle {
  height: 1000px;
}

.like {
  margin-right: 10px;
  cursor: pointer;
}

.comment {
  border-radius: 75px / 100%;
}

.liked {
  margin-right: 10px;
  font-size: 18px;
}

.heart {
  font-size: 20px;
}
.wrapper{
  display: flex;
  
}
.commentDialog{
width: 400px;
  margin-top: 25px;
}



.comment {
  padding-bottom: 2px;
}

.comments {
  font-size: 10px;
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}



.caption {
  font-size: 10px;
}



.captionDiv{
  width: 295px;
 margin-top: 10px;
  display: flex;
}
.commentDiv{
  display: flex;
  border-radius: 10px;
  border: 1px solid;
  padding: 5px;
  margin-top: 10px;
}

.commentBox{
border: none;
outline: none;
width: 225px;
}

.commentBox:focus{
  outline: none;
}
.post {
  background-image: linear-gradient(to right, #77A1D3 0%, #79CBCA 51%, #77A1D3 100%);
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    height: 25px;
    border: none;
    margin-left: auto;
    cursor: pointer;
}
.viewComment{
  text-decoration: underline;
  cursor: pointer;
  font-size: 13px;
}

.deleteDiv{
  margin-left: auto;
  cursor: pointer;
}

.deleteName{
  display: flex;
  flex-direction: column-reverse;
}