.viewAllcomment{
    font-size: 10px;
   width: 295px;
   margin-top: 5px;
  }
  .showComment {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
  }

  .cardWidth{
    width: 350px;
  }

  .closeButton{
    float: right;
    cursor: pointer;
  }


  .viewAllCommentDiv {
    display: flex;
    flex-direction: column;
    max-height: 250px;
    overflow: auto;
  }