.profilePic{
display: flex;
}
.messageDialog{

    min-height: 412px;
    margin-right: 15px;
}

.chatBox{
    height: 310px;
    border-top: 1px solid grey;
    border-bottom: 1px solid gray;
    width: 300px;
}
.sendDiv{
    display: flex;
    padding: 5px;
    width: 270px;
}