.parentSection{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}


.picButton{
    width: 90%;
    margin: 10px 0px 10px 30px;
}
.picButton:hover{
    width: 90%;
}
.cardProps{
  
    width: 500px;
    height: auto;
}

.cardDiv{
display: flex;
  justify-content: center;
  align-items: center; 
  height: 70vh;
}