.profilePic{
display: flex;
}
.messageDialog{
    margin-right: 15px;
}

.chatBox{
    height: 48vh;
    border-top: 1px solid grey;
    border-bottom: 1px solid gray;
    width: 300px;
    overflow: auto;
}
.sendDiv{
    display: flex;
    padding: 5px;
    width: 270px;
}

.attachFile{
    cursor: pointer;
    height: 22px;
    width: 22px;
}
.closeButtonMessage{
    float: right;
    cursor: pointer;
    margin-top: 15px;
  }

  .noChat{
    opacity: 0.7;
    position: absolute;
  top: 50%;
  left: 23%;
  transform: translate(-50%, -50%);
  max-width: 250px;
  }