.password {
    background-image: linear-gradient(to right, #77A1D3 0%, #79CBCA 51%, #77A1D3 100%);
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: black;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    width: 400px;
    height: 40px;
    border: none;
}

.password:hover {
    background-position: right center;
    color: black;
    text-decoration: none;
    width: 450px;
    cursor: pointer;
}